button{
  width: 200px;
	height: 60px;
	border-radius: 25px;
	margin: 5px;
	font-size: 1.6rem;
	cursor: pointer;
}

.nav{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

button:hover{
	background-color: black;
	color: white;
}