.App {
  text-align: center;
  background-color: #47A9D7;
  color: white;
}

.App-header {
  background-color: #8ECAE6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header a:hover{
  color: white;

}

.cards{
  display:flex;
  flex-flow: row wrap;
  gap: 10px;
}
.card{
  display: flex;
  flex-flow: column nowrap;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.pokemon{
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}
.pokemon-title{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}